youtube-transcript-api==1.2.2
langchain
streamlit
sentence-transformers
torch
langchain_huggingface
langchain-community
langchain_google_genai
langchain_core




langchain-google-genai
langchain-huggingface
google-generativeai
python-dotenv
torch==2.3.0
transformers==4.43.4
sentence-transformers==2.7.0
scikit-learn==1.4.2
